/.idea
/.vscode/*
!.vscode/settings.example.json
!.vscode/extensions.json
/.history

/node_modules

/dist
/public/mockServiceWorker.js

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log


/tests/node_modules/.vitest/

*.tsbuildinfo
storybook.log
